* { margin: 0px; padding: 0px; }
body {
	font-size: 120%;
	background: #F8F8FF;
}
.genelgirisdiv {
	padding-top:10%;
}

.giriskutusu {
	width: 40%;
	margin: 50px auto 0px;
	color: white;
	background: #3c8dbc;
	text-align: center;
	border: 1px solid #3c8dbc;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}
form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #3c8dbc;
	background: white;
	border-radius: 0px 0px 10px 10px;
}
.alanlar {
	margin: 10px 0px 10px 0px;
}

.inputalani{
	padding-top:5px;
	padding-bottom:5px;
}

.inputalani label {
	display: block;
	text-align: left;
	margin: 3px;
	color: #115c88;
}
.inputalani input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.girisbuton {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #3c8dbc;
	border: none;
	border-radius: 5px;
}