body {
	margin: 0;
	background-color:#dee5ed;
	font-family: Arial, Helvetica, sans-serif;
}

.ustgenel {
	display:flex;
}

.solust {
	width:12.2%;
	height:50px;
	background-color:#115c88;
	font-family:Arial;
	color:white;
	font-size:20px;
	text-align:center;
	position:fixed;
	z-index:100;
}
.solust p {
	margin:0;
	padding-top:15px;
}

.solust img {
	width:50%;
	height:25px;
	padding-top:10px;
	padding-left:50px;
	
}

.sagust {
	width:100%;
	height:50px;
	background-color:#3c8dbc;
	display:flex;
	position:fixed;
}

.bosalan {
	width:120%;
}

.arama {
	padding:7px 24px;
	width:35%;
	display:flex;
	text-align:right;
}

.searchTerm {
  width: 50%;
  border: 3px solid #222d32;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  outline: none;
  
 }

.iconlar img {
	height:32px;
	width:32px;
	padding-top:4px;
	padding-left:8px;
}
.iconlar {
	margin-left:10px;
	display:flex;
}

.searchTerm:focus{
  color: #222d32;
}

.searchButton {
  position: relative;
  width: 40px;
  height: 36px;
  border: 1px solid #222d32;
  background: #222d32;
  text-align: center;
  border-radius: 5px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  cursor: pointer;
  font-size: 20px;
}

#searchbar button {
	background-image:url(fotolar/search.png);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:27px 27px;
}


.yanpanel {
	height:100%;
	width:12.2%;
	background-color:#222d32;
	position:fixed;
	margin-top:50px;
}

.panelanasayfa {
	margin:0;
	padding:0;
	width:100%;
	height:30px;
	background-color:#222d32;
}

.panelanasayfa a {
	color:white;
	text-decoration:none;
	text-align:center;
	padding:0;
	font-weight:bold;
}	
.arakatman {
	margin:0;
	padding:0;
	width:100%;
	height:35px;
	background-color:#1a2226;
}

.arakatman b {
	color:#3c8dbc;
	padding-left:10px;
	padding-top:8px;
	position:absolute;
}

.kullanici {
	margin:0;
	padding:0;
	width:100%;
	height:80px;
	background-color:#222d32;
	display:flex;
}

.kullaniciresmi img {
	width:50px;
	height:50px;
	padding:15px 10px;
}

.kullanicibilgileri p {
	color:white;
	padding-left:10px;
	
}
.analizler {
	height:200px;
}

.analizler a {
  float:left;
  color:#b8c7ce;
  text-align:center;
  text-decoration:none;
  font-size:17px;
  font-family:Arial;
  
  padding-top:10px;
  padding-bottom:10px;
  width:100%;
	
}

.analizler a:hover {
  background-color:#ddd;
  color: black;
  transition:.3s ease;
}
.analizler a.aktif {
  background-color:#3c8dbc;
  color:white;
  width:100%;
}

.analizler ul {
	list-style-type:none;
	padding:0;
	margin:0;
	width:100%;
	
}
.grafikler1 {
	display:flex;
	width:1600px;
	height:405px;
	margin-left:13%;
	padding-top:80px;
	padding-left:10px;
}
.grafikler2 {
	display:flex;
	width:1600px;
	height:405px;
	margin-left:13%;
	padding-top:2%;
	padding-left:10px;
}
.grafikler3 {
	display:flex;
	width:1600px;
	height:405px;
	margin-left:13%;
	padding-top:2%;
	padding-left:10px;
	padding-bottom:2%;
}
.grafikarasi {
	width:2.5%;
	height:405px;
}

.grafik1{
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius:40px;
	border: 1px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	
	
}
.grafik2{
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius: 40px;
	border: 4px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.grafik3{
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius: 40px;
	border: 4px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	
}
.grafik4{
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius:40px;
	border: 4px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
	
}
.grafik5{
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius:40px;
	border: 4px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
.grafik6 {
	background-color:white;
	height:100%;
	width:48.5%;
	border-radius:40px;
	border: 4px solid white;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}
